@model Models.ViewModels.ProductViewModel

<form method="post" enctype="multipart/form-data">
    <input asp-for="Product.Id" hidden />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">@(Model.Product.Id!=0?"Update":"Create") Product</h2>
        </div>
        <div asp-validation-summary="ModelOnly"></div>
        <div class="mb-3 row p-1">
            <label asp-for="Product.Title" class="p-0"></label>
            <input asp-for="Product.Title" class="form-control" />
            <span asp-validation-for="Product.Title" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="Product.Description" class="p-1"></label>
            <input asp-for="Product.Description" class="form-control" />
            <span asp-validation-for="Product.Description" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="Product.Author" class="p-1"></label>
            <input asp-for="Product.Author" class="form-control" />
            <span asp-validation-for="Product.Author" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="Product.ISBN" class="p-1"></label>
            <input asp-for="Product.ISBN" class="form-control" />
            <span asp-validation-for="Product.ISBN" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="Product.ListPrice" class="p-1"></label>
            <input asp-for="Product.ListPrice" class="form-control" />
            <span asp-validation-for="Product.ListPrice" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="Product.Price" class="p-1"></label>
            <input asp-for="Product.Price" class="form-control" />
            <span asp-validation-for="Product.Price" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="Product.Price50" class="p-1"></label>
            <input asp-for="Product.Price50" class="form-control" />
            <span asp-validation-for="Product.Price50" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="Product.Price100" class="p-1"></label>
            <input asp-for="Product.Price100" class="form-control" />
            <span asp-validation-for="Product.Price100" class="text-danger"></span>
        </div>

        <div class="form-floating py-2 col-12">
            <select asp-for="Product.CategoryId" asp-items="@Model.CategoryList" class="form-select border-0 shadow">
                <option disabled selected>--Select Category--</option>
            </select>
            <label asp-for="Product.CategoryId" class="ms-2"></label>
            <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
        </div>

        <div class="row">
            <div class="col-6 col-md-3">
                @if(Model.Product.Id != 0)
                {
                    <button type="submit" class="btn btn-primary form-control">Update</button>
                }
                else
                {
                    <button type="submit" class="btn btn-primary form-control">Create</button>
                }
            </div>

            <div class="col-6 col-md-3">
                <a asp-controller="Product" asp-action="Index" class="btn btn-secondary" border form-control">Back to List</a>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    @{
    <partial name="_ValidationScriptsPartial" />
    }
}
